<h1>Post#index</h1>
<p>Find me in app/views/post/index.html.erb</p>
<a href="/post/new">게시물 작성하기</a>

<% @posts.each do |p| %>
  <p><%= p.title %></p>
  <p><%= p.content %></p>
  <p><a href="/post/show/<%= p.id %>">보기</a></p>
  <p><a data-confirm="정말 지울꺼니?" data-method="delete" href="/post/destroy/<%= p.id %>">삭제</a> </p>
  <p><a href="/post/edit/<%= p.id %>">수정</a></p>
  <hr>
<% end %>
